*
  transition: background-color .3s

:root 
  --bg: #fff
  --bg-secondary: #f2f2f2
  --bg-search: #f2f2f2
  --bg-code: #f2f2f2
  --bg-warning: #fff7d0
  --color: #304455
  --code-color: #476582
  --link-color: #2E8465
  --border-color: #eaecef
  background-color: var(--bg) !important

html.dark-mode 
  --bg: #232b32
  --bg-secondary: #282f34
  --bg-search: #282f34
  --bg-code: #353a3e
  --bg-warning: #575638
  --color: #ddd8ca
  --code-color: #ADCFF0
  --link-color: #82D3AF
  --border-color: #565656
  background-color: var(--bg) !important

body 
  background-color: var(--bg) !important
  color: var(--color) !important

#global-layout
  a, .edit-link > a 
    color: var(--link-color)

  .navbar, .sidebar, .links, .site-name, .sidebar-link, .nav-link 
    background-color: var(--bg)
    color: var(--color)

  .navbar, .sidebar 
    border-color: var(--border-color);

  .dark-mode div[class*="language-"], .custom-block.tip 
    background-color: var(--bg-secondary)

  .page code 
    background-color: var(--bg-code)
    color: var(--code-color)

  div[class*="language-"] code 
    background-color: inherit
    color: inherit

  .search-box input 
    background-color: var(--bg)
    color: var(--color)

  .custom-block.warning
    color: var(--color)
    background-color: var(--bg-warning)

    .custom-block-title
      color: inherit
